.btn-outline-primary:hover{
    background-color: #4737FF !important;
    color: white !important;
}
.btn-outline-primary{
    border-color: #4737FF !important;
    color: #4737FF !important;
    font: Fira Sans !important;
}
.btn-primary{
    background-color: #4737FF !important;
    font: Fira Sans !important;
}
.btn-link{
    color: #4737FF !important;
    font: Fira Sans !important;
}